{extend name="base" /}
{block name="main"}
<form class="layui-form" id="admin">
    <input type="hidden" name="table" value="coupon">
    <input type="hidden" name="id_name" value="id">
    <table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
      <colgroup>
        <col width="50">
        <col width="*">
        <col width="*">
        <col width="*">
        <col width="*">
        <col width="*">
        <col width="*">
        <col width="*">
        <col width="*">
        <col width="*">
        <col width="180px">
      </colgroup>
      <thead>
      <tr>
        <th>ID</th>
        <th>名称</th>
        <th>类型</th>
        <th>图片</th>
        <th>描述</th>
        <th>优惠金额</th>
        <th>有效期</th>
        <th>使用时长</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {foreach name="list" item="vo"}
      <tr>
        <td>{$vo.id}</td>
        <td>{$vo.title}</td>
        <td><b>{$vo.name}</b></td>
        <td><img src="{$vo.image}" width="80px" height="80px"></td>
        <td>{$vo.description}</td>
        <td>{$vo.amount}</td>
        <td>{$vo.validity_time|date='Y-m-d'}</td>
        <td>{$vo.use_length}天</td>
        <td><input table="coupon" id_name="id" id_value="{$vo.id}" field="status" type="checkbox" lay-skin="switch" lay-filter="switchStatus" lay-text="开启|禁用" {notempty name="$vo.status"}{eq name="$vo.status" value="1"}checked=""{/eq}{/notempty}></td>
        <td>{$vo.create_time}</td>
        <td>
          <a href="{:url('edit',['id'=>$vo.id])}" data-tip-text="修改" data-tip-type="1" class="layui-btn and-bg-{$skin_name|default='default'} layui-btn-xs tooltip"><i class="layui-icon"></i></a>
          {gt name='vo.id' value='1'}
          <a id="{$vo.id}" url="{:url('del')}" data-tip-text="删除" data-tip-type="1" href="javascript:;" class="layui-btn and-bg-{$skin_name|default='default'} layui-btn-xs delete tooltip"><i class="layui-icon"></i></a>
          {/gt}
        </td>
      </tr>
      {/foreach}
      </tbody>
    </table>
</form>
<div style="margin-bottom:45px;margin-right:20px;float: right;">{$list->render()|default=''|raw}</div>
{/block}
{block name="script"}
<script type="text/javascript">
    layui.use('list')
</script>
{/block}