{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/assets.css" />
{/block}
{block name="main"}
<div class="box_form">
    <div class="box_content">
        <form action="{:url('')}" class="layui-form layui-form-pane" id="admin">

            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" value="{$info.title|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-upload">
                    <label class="layui-form-label">图片</label>
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn and-bg-{$skin_name|default='default'} upload_one">上传图片</button>
                        <input type="hidden" name="imgurl" value="{$info.imgurl|default=''}">
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" {notempty name="info.imgurl"} src="{$info.imgurl|default=''}"{/notempty} width="150" height="150">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sort" value="{$info.sort|default='50'}" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">跳转地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="url" value="{$info.url|default=''}" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否显示</label>
                <div class="layui-input-inline">
                    <input type="radio" name="is_visible" {eq name="info.is_visible" value="1"}checked{/eq} title="显示" value="1" checked />
                    <input type="radio" name="is_visible" {eq name="info.is_visible" value="0"}checked{/eq} title="关闭" value="0" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="{$info.id|default=''}">
                    <button class="layui-btn and-bg-{$skin_name|default='default'}" lay-submit lay-filter="info_submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    layui.use('info')
</script>
{/block}